<!doctype html>
<html lang="en">

<h1>Les eleves</h1>

<dl class="row">
  
    <div class="col-6">
        <dt>Nom</dt>
        <dd>{{eleve.nom}}</dd>
    </div>

    <div class="col-6">
        <dt>prenom</dt>
        <dd>{{eleve.prenom}}</dd>
    </div>
     
</dl>


    </tbody>
</table>

</html>
