<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <h1>ACCUEIL</h1>
    <div class="container">
        <nav class="nav justify-content-center">
              <a class="nav-link active" href="/home/accueil/">Accueil</a>
            <a class="nav-link active" href="/form/index/">Eleves</a>
            <a class="nav-link active" href=>Ajouter un eleve</a>
            <a class="nav-link active" href="/reg/reg/">reglement interieur</a>


        </nav>
<div>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkG7WL_IGUzcP9sO9tWV1AOH7tWtSM_bP0ag&usqp=CAU" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
</div>
    
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste odio voluptatibus enim dolores magni. Voluptatem, tempora dolore! Aut maxime deserunt hic sequi! Totam minima quas nam ullam cum nobis rerum. Nam pariatur commodi obcaecati nemo laborum
        nihil, harum illum repudiandae inventore mollitia corrupti molestias quae iste tenetur ipsa nisi repellendus numquam ut incidunt maxime doloremque dolorem sunt labore. Laborum, culpa. Porro quae a vitae optio reiciendis hic eius vero ab pariatur?
        Saepe error consectetur eaque dolorem enim debitis sed! Alias nostrum debitis maxime et voluptate optio ab blanditiis id possimus.</p>
    

       
        


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>